/* 
  HEADER 
*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  z-index: 999;
}

header .logo img{
  width: 100%;
}

header nav li{
  display: inline-block;
  margin: 0 15px;
}

header nav li a{
  color: black;
  font-size: 14px;
}

header nav li:hover{
  border-bottom: 2px solid black;
}




/* 
  JUMBOTRON 
*/
.jumbotron{
  height: 610px;
  padding: 50px 0;
  margin-top: 70px;
  background-color: #B4D0E7;
}

.content-jumbotron{
  width: 80%;
  /* max-width: 1000px; */
  margin: 0 auto;
}

.jumbotron h1{
  font-size: 4.3rem;
  padding: 40px 0;
}

.jumbotron .text{
  padding-right: 70px;
}

.jumbotron .text p{
  margin-bottom: 30px;
}

.jumbotron .text span{
  display: inline-block;
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.jumbotron .text i{
  font-size: 35px;
  color: black;
}

.jumbotron .image img{
  width: 100%;
  margin-bottom: 50px;
}




/* 
  MAIN 
*/
main section .container-col-float .col.float-left{
  width: calc(100% / 3);
}

main section .col{
  margin-bottom: 40px;
}

/* SEZIONE 1  */
main section .container-false-checkbox{
  padding: 30px 0;
}

main section .false-checkbox{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-right: 3px;
  cursor: pointer;
}

main section .false-checkbox.check{
  border: 4px solid #0161FF;
}

main section .false-checkbox.not-check{
  border: 1px solid #D8D8DA;
}

main section .container-false-checkbox span{
  margin-right: 20px;
}


main section .col.col-center{
  margin: 0 50px; 
}

main section .container-col-float-margin .col.float-left{
  width: calc((100% - 100px) / 3);
  height: 950px;
}


main section .container-col-float-margin .col, .col.col-full{
  border: 1px solid #D8D8DA;
}

main section .text-center{
  height: 40px;
  border-bottom: 1px solid #D8D8DA;
}

main section .text-center span{
  line-height: 40px;
  font-size: 14px;
}

main section .content-col-float-margin{
  padding: 20px;
}

main section .content-col-float-margin ul li{
  font-size: 13px;
}

main section .content-col-float-margin ul li.price{
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 15px;
}

main section .content-col-float-margin ul li.time{
  color: #586D7E;
  padding-top: 5px;
}

main section .content-col-float-margin ul li:last-child a{
  text-decoration: underline #D8D8DA;
}

main section .content-col-float-margin ul li:last-child span{
  padding-bottom: 30px;
  border-bottom: 1px solid #D8D8DA;
}

main section .content-col-float-margin ul.check-color i{
  color: #0161FF;
}

main section .col-full .content-col-float-margin span{
  font-size: 13px;
}

main section .col-full .content-col-float-right a.btn{
  padding: 7px 70px;
}
/* /SEZIONE 1  */


/* SEZIONE 2  */
main section .container-col-float .image img{
  width: 90%;
}

main section .container-col-float .text h3{
  padding-top: 40px;
}

main section .container-col-float .text p{
  padding: 30px 0;
  line-height: 25px;
}

/* /SEZIONE 2  */




/* 
  FOOTER 
*/
footer .container-col-float{
  width: 85%;
  margin: 0 auto;
}

footer .container-col-float .col.float-left{
  width: calc(100% / 5);
}

footer .container-col-float{
  padding: 40px 50px;
}