/* 
  HEADER 
*/
header{
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
}


/* 
  JUMBOTRON 
*/
.jumbotron{
  padding: 50px 0;
}

.content-jumbotron{
  width: 85%;
  margin: 0 auto;
}


/* 
  MAIN 
*/
main section .col{
  margin-bottom: 20px;
}

main section .col.col-center{
  margin: 0 20px; 
}

main section .container-col-float-margin .col.float-left{
  width: calc((100% - 40px) / 3);
}

main section .container-col-float .col.float-left{
  width: calc(100% / 3);
}



/* 
  FOOTER 
*/
footer .container-col-float{
  width: 85%;
  margin: 0 auto;
}

footer .container-col-float .col.float-left{
  width: calc(100% / 5);
}

footer .container-col-float{
  padding: 40px 50px;
}