.container{
  width: 70%;
  /* max-width: 1180px; */
  margin: 0 auto;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.text-center{
  text-align: center;
}


.w60{
  width: 60%;
}
.w40{
  width: 40%;
}
.logo img{
  vertical-align: middle;
}

.btn{
  background-color: #0161FF;
  padding: 7px 15px;
  line-height: 20px;
  font-size: 14px;
  color: white;
  transition: all .5s;
}

.btn-border{
  background-color: white;
  border: 1px solid black;
  color: black;
}

.btn-no-border{
  background-color: white;
  color: black;
}

.btn:hover{
  filter: opacity(.9);
  box-shadow: 0 2px 3px black
}




/* DEBUG */
.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid black;
}

.h100{
  min-height: 100px;
}
.h300{
  min-height: 300px;
}
.h500{
  min-height: 500px;
}
